[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = [
  "python -m venv .venv",
  ". .venv/bin/activate && pip install --upgrade pip",
  ". .venv/bin/activate && pip install --no-cache-dir -r backend/requirements.txt"
]

[start]
cmd = "bash ./start.sh"
